:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    --bg: #101418;
    --bg-secondary: #{lighten(#101418, 2)};
    --fg: #fff;
    --accent: rgb(255, 94, 0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        --fg: #101418;
        --bg-secondary: #{darken(#fff, 2)};
        --bg: #fff;
    }
}


.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    &.loaded {
        opacity: 0;
        transform: translateX(-200vw);
        animation: fadeOut 0.4s linear;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateX(-0);
        }
        100% {
            opacity: 0;
            transform: translateX(-0);
        }
    }
}